:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  padding: 20px;
}

rect {
  stroke: black;
  fill: white;
}
rect.clickable:hover {
  fill: hsl(30, 72%, 90%);
}

rect.selected {
  fill: hsl(30, 59%, 82%);
}
rect.selected:hover {
  fill: hsl(30, 56%, 79%);
}

.clickable {
  cursor: pointer;
}

rect.shade {
  fill: rgb(165, 107, 231);
  pointer-events: none;
}

text {
  text-align: center;
  fill: black;
  font-size: 12px;
  pointer-events: none;
}

line {
  stroke: black;
}
